body {
    margin: 0;
    position: relative;
}

.id {
    list-style: none;
    padding: 20px 30px;
    font-size: 1.3rem;
    margin: 0px 40px
}

.container {
    /* place-items: center; */
    padding: 0;
    margin: 0;
    position: relative;
    height: 150vh;
    
}

.container::before {
    background-image:url(../images/hero-banner2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.3;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    isolation: isolate;
}
table{
    width: 100%;
    isolation: isolate;
}
/* @media (max-width:650px){
    table{
        width: 30%;
        font-size: small;
    }
    .summary{font-size: smaller;}
} */
.summary {
    padding: 20px 15px;
    justify-content: space-between;
    background-color: #fff;
    width: 50vw;
    margin: 20px 40px;
    border-radius: 15px;
    display: flex;
    color: black;
    /* opacity: 0.9; */
    position: relative;
    isolation: isolate;
}

.nub {
    font-size: 1.5rem;
    font-weight: bold;
    isolation: isolate;
}

.sum-sec {
    display: flex;
    isolation: isolate;
}

.cot-ls {
    font-size: large;
    color: darkgray;
    isolation: isolate;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    isolation: isolate;
}

th,
td {
    padding: 15px;
}

th {
    text-align: left;
}

.act-status {
    background-color: aqua;
    color: green;
    padding: 8px 40px;
    border: 1px solid green;
    border-radius: 5px;
    isolation: isolate;
}

.no-status {
    background-color: rgb(240, 151, 151);
    color: rgb(245, 0, 0);
    padding: 8px 40px;
    border: 1px solid rgb(173, 40, 31);
    border-radius: 5px;
    isolation: isolate;
}

.content {

    /* padding:200px 450px; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    isolation: isolate;
}

.hd1 {
    font-weight: 400;
    font-size: 2rem;
    isolation: isolate;
}

.hd2 {
    font-weight: 200;
    font-size: 1.2rem;
    isolation: isolate;
}

.form-s {
    line-height: 40px;
    margin: 30px 20px;
    isolation: isolate;
}

.form-e {
    font-weight: bold;
    width: 70%;
    isolation: isolate;
}

.from-in {
    border-radius: 5px;
    width: 120%;
    padding: 10px 20px;
    border: 1px solid gray;
    isolation: isolate;
}

.forget {
    float: right;
    color: blue;
    isolation: isolate;
}

.login-btn {
    place-content: center;
    text-align: center;
    isolation: isolate;

}

.login-btn button {
    background-color: rgb(14, 141, 56);
    border-radius: 5px;
    padding: 7px 120px;
    border: none;
    color: #ffffff;
    font-weight: bolder;
    isolation: isolate;
}

.rembr {
    /* width: 50%; */
}

.sign-opt {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px 20px;
    isolation: isolate;
}

.dnt-act {
    font-weight: bold;
    margin: 20px 0px;
    isolation: isolate;
}

.dnt-act span {
    isolation: isolate;
    color: blue;
}
.agree{
    text-decoration: underline;
    isolation: isolate;
}
.or {
    isolation: isolate;
    text-decoration: line-through;
    text-align: center;
    color: #504747;
    width: 100%;
    font-size: larger;
    margin: 10px 0px;
}
.mail{
    display: block; 
    isolation: isolate; 
}
.name{
    display: block;
    isolation: isolate;
}